@font-face {
    font-family: San Francisco;
    src: url('resources/System San Francisco Display Regular.ttf');
}
body {
    font-family: "San Francisco", sans-serif;
    margin: 20px;
    padding: 0px;
}

.tables
{
    width: auto;
    font-size: 14px;
    text-align: center;
}

#sortText1
{
    font-size: 14px;
}

#sortText2
{
    font-size: 14px;
}

.sortSelect
{
    width: 90px;
    position: absolute;
}

#sortCustomersSelect
{
    top: 20px;
    left: 170px;
}

#sortProductsSelect
{
    top: 50px;
    left: 170px;
}

#sortButton
{
    position: absolute;
    top: 78px;
    left: 195px;
}

a
{
    text-decoration: none;
}

#hrefEditCustomerTable
{
    position: absolute;
    left: 580px;
    top: 180px;
    font-size: 12px
}

#hrefEditProductTable
{
    position: absolute;
    left: 1111px;
    top: 180px;
    font-size: 12px;
}

.hiddenTd
{
    text-align: center;
    border: hidden;
}

#customerTable
{
    position: absolute;
    top: 183px;
    left: 255px;
}

#productTable
{
    position: absolute;
    top: 183px;
    left: 855px;
}

#logOutText
{
    position: absolute;
    font-size: 12px;
    right: 10px;
    top: 10px;
}